div.entry-form .medium-insert-images figure figcaption,div.entry-form .mediumInsert figure figcaption, div.entry-form .medium-insert-embeds figure figcaption, div.entry-form .mediumInsert-embeds figure figcaption
{
    color : #4e4e4e;
    font-size : 14px;
    text-align: left;
}

div.story-entry .medium-insert-images figure figcaption,div.story-entry .mediumInsert figure figcaption,
div.story-content figure figcaption,
div.story-entry .medium-insert-embeds figure figcaption, div.story-entry .mediumInsert-embeds figure figcaption
{
    color : #4e4e4e;
    font-size : 14px;
    text-align: left;
}

div.medium-insert-images.medium-insert-images-right figure figcaption {
    margin-left : 0px !important;
}

div.medium-insert-images.medium-insert-images-left figure figcaption {
    margin-left : 0px !important;
}


twitterwidget {
  margin: 0 auto;
}

/* medium forces a 100px height on its embed iframe. This doesn't work with instagram 
*/

@media screen and (min-width: 616px) {
    div.medium-insert-embed>div>div>div {
        min-height: 182px !important;
    }
}

@media screen and (max-width: 768px) {
    .medium-insert-images.medium-insert-images-right, .medium-insert-images-right.mediumInsert, .medium-insert-embeds.medium-insert-embeds-right {
        max-width : 100%;
        float: none;
        margin : 10px auto;
        width : auto;
    }
    .medium-insert-images.medium-insert-images-left, .medium-insert-images-left.mediumInsert, .medium-insert-embeds.medium-insert-embeds-left {
        max-width : 100%;
        float: none;
        margin : 10px auto;
    }
    
}
