.story-content h4, .story-title h4 {
    margin-top : 6px;
}

.story-list-entry {
    margin-bottom : 2em;
    padding-bottom : 1em;
    border-bottom : 2px solid #e3e3e3;
}

#story-feature-list .story-feature a h4 {
    font-size : 20px;
    font-weight: bold;
    margin-bottom: 4px;
    color: #292A55;

}

.feature-row {
}

.story-feature {
    overflow: hidden;
    border : 1px solid #e3e3e3;
    position: relative;
    margin-bottom: 1em;
}

.story-feature.landscape {
    height : 300px;
}

.story-feature.topbottom {
    height : 350px;
}

.story-feature.leftright {
    height : 300px;
}

.story-feature .story-thumbnail {
    background-repeat: no-repeat;
}

.story-feature.leftright .story-thumbnail {
    width: 40%;
    max-width: 230px;
    height: 100%;
    float: left;
    margin-right: 8px;
    border: 1px solid transparent;
}

.story-feature.landscape .story-thumbnail {
    display: block;
    width: 100%;
    height: 40%;
    margin-bottom: 6px;
    border: 1px solid transparent;
}


.story-feature.topbottom .story-thumbnail {
    display: block;
    width: 100%;
    height: 50%;
    margin-bottom: 6px;
    border: 1px solid transparent;
}

@media screen and (max-width: 768px) {
    #story-feature-list .story-feature.topbottom, #story-feature-list .story-feature.landscape {
        height : 400px;
    }

    .story-feature.landscape .story-thumbnail {
        height: 50%;
    }

    #story-feature-list .col-sm-3 .leftright .circle-frame {
        float: left;
        margin: 0px 8px 10px 0px;
    }

    #story-feature-list .leftright {
        height: 200px;
    }

}

#story-feature-list .story-feature p {
    font-family: "Source Sans Pro", sans, sans-serif, 'Helvetica';
    font-size : 16px;
}

.story-feature .story-content {
    padding: 6px;
}

.story-content .story-summary {
    overflow: hidden;
    line-height : 1.4em;
    font-size : 14px;
}

/* start publish info */
.publish-info {
    padding: 0px 8px 0 8px;
    border : 1px solid #d1d1d1;
    border-radius : 5px;
    max-width : 300px;
    white-space: nowrap;
    height: 100px;
    display: flex;
    align-items: center
}


.publish-info .circle-frame {
    width: 74px;
    height: 74px;
    overflow: hidden;
    border-radius: 50%;
    border : 1px solid #e3e3e3;
    float: left;
    margin-right : 6px;
}

.publish-info .circle-frame img {
    width: 100%;
}

.col-sm-3 .leftright .publish-info .circle-frame {
    float: none;
    margin:0;
    display:block;
}


.feature-row .circle-frame {
    width : 40px;
    height: 40px;
}

.feature-row .publish-info {
    border: none;
    padding : 4px 6px;
    max-width: none;
    white-space: nowrap;
    height : 80px;
}

.feature-row .publish-info .author-name {
    font-size : 14px;
}

.leftright .publish-info {
    width : 60%;
    right: 0;
}

.publish-info .author-name {
    font-size : 16px;
}

.publish-info .publish-date {
    color: #828282;
    font-size : 14px;
}

.tagged {
}

/* end publish info */

.popover-content ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    min-width : 150px;
}

.popover-content ul li {
    font-family : arial, sans;
    font-size: 14px;
    padding : 4px;
}
.popover-content ul li:hover {
    background-color : #e3e3e3;
}

.popover-content ul li a.tag-link {
    display: block;
    width: 100%;
    color : #525252;
}

.label.label-primary a {
    color: white;
}

.story-content {
  margin-top: 1em;
}
