.story-content h3, .story-title h3 {
    margin-top : 6px;
}

.story-list-entry {
    margin-bottom : 2em;
    padding-bottom : 1em;
    border-bottom : 2px solid #e3e3e3;
}

ul.tag-list {
    display: inline;
}

ul.tag-list li {
    display: inline;
    margin-right: 5px;
}