$small-break: 768px;
$medium-break: 991px;
$landscape-height: 300px;
$topbottom-height: 400px;
$leftright-height: 300px;

.badge a {
  color: white;
}

.share-buttons {
  margin-top : 1em;

  .facebook-share a {
    color: #4267B2;
  }

  .twitter-share a {
    color: #FFAD1F;
  }

  .reddit-share a {
    color: #FF4501;
  }
}

.publish-info {
  padding: 6px;
  border-radius: 5px;
  width: 300px;
  clear:both;
  
  .author-email {
    font-weight: bold;
  }

  .circle-frame {
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #e3e3e3;
    width: 74px;
    height: 74px;
    margin-right : 8px;

    img {
      width: 100%;
    }
  }

  .posted {
    .publish-date {
      color: #828282;
      font-size: 14px;
    }
  }
}

.story-full-view, .story-list-entry {
  .publish-info {
    border: 1px solid #e3e3e3;
    display: flex;
    align-items: center;
    .posted {
      //height: 70px;
    }
  }
}


.story-list-entry {
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid #e3e3e3;
  
  .story-image {
    text-align: center;
    margin-bottom : 1em;
  }
}

#story-feature-list {
  @media screen and (min-width: $medium-break) {
    .col-md-3 .story-feature {
      a h4 {
        font-size: 16px;
      }
    }
  }
  @media screen and (max-width: $medium-break) and (min-width: $small-break) {
    .col-sm-4 .story-feature {
      &.leftright {
        a h4 {
          font-size: 16px;
        }

        .circle-frame {
          display: none;
        }

        .author-name {
          font-size: 14px;
          font-weight: bold;
        }
      }
    }
  }

  .story-feature {
    border: 1px solid #e3e3e3;
    position: relative;
    margin-bottom: 1em;
    overflow: hidden;

    a h4 {
      font-size: 18px;
      font-weight: bold;
    }

    p {
      font-family: "Source Sans Pro", sans, sans-serif, 'Helvetica';
      font-size: 16px;
    }

    &.landscape {
      height: $landscape-height;
      @media screen and (max-width: $small-break) {
        height: 300px;
      }

      .story-thumbnail {
        width: 100%;
        height: 40%;
        margin-bottom: 6px;
      }

      .story-content {
        height: 40%;
      }
    }

    &.topbottom {
      height: $topbottom-height;
      @media screen and (max-width: $small-break) {
        height: 300px;
      }

      .story-thumbnail {
        width: 100%;
        height: 50%;
        margin-bottom: 6px;
        @media screen and (max-width: $small-break) {
          height: 100px;
        }
      }

      .story-content {
        height: 25%;
      }
    }

    &.leftright {
      height: $leftright-height;
      @media screen and (max-width: $small-break) {
        height: 200px;
      }

      .publish-info {
        width: 60%;
        right: 0;
        height: auto;
      }

      .story-title {
        margin-top: 6px;
      }

      .story-thumbnail {
        width: 40%;
        max-width: 230px;
        height: 100%;
        float: left;
        margin-right: 8px;
      }
    }

    .story-content {
      padding: 0 5px;

      .story-summary {
        line-height: 1.4em;
        font-size: 14px;
        overflow: hidden;
      }
    }

    .story-thumbnail {
      display: block;
      background-repeat: no-repeat;
      border: 1px solid transparent;
    }
    
    .story-title {
      margin-bottom: 6px;
      h4 {
        margin-bottom : 0;
      }
      h5.share-site {
        font-size : 14px;
      }
    }

    .publish-info {
      display: flex;
      align-items: center;
      background-color: white;
      bottom: 0;
      padding: 4px;
      position: absolute;
      width: 100%;

      .author-name {
        font-size: 14px;
      }

      .circle-frame {
        //float: left;
        width: 50px;
        height: 50px;
      }
    }
  }
}

.label.label-primary a {
  color: white;
}

.popover-content {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-width: 150px;

    li {
      font-family: arial, sans;
      font-size: 14px;
      padding: 4px;

      &:hover {
        background-color: #e3e3e3;
      }

      a.tag-link {
        display: block;
        width: 100%;
        color: #525252;
      }
    }
  }
}
