<div class="col-sm-4">
  <div class="story-feature landscape">
    <a class="story-thumbnail" style="background-image: url('<?=$thumbnail?>')" href="./<?=$urlTitle?>">&nbsp;</a>
    <div class="story-content">
      <div class="story-title">
        <a href="./<?=$urlTitle?>"><h3><?=$title?></h3></a>
      </div>
      <div class="story-summary">
        <?=$strippedSummary?>
      </div>
    </div>
    <div class="published-date">Published
      <?=$publishDateRelative?>
    </div>
  </div>
</div>
