<style>
  .entry {
    margin: 0 4em;
    padding: 4px 8px;
  }

  .entry-title {
    margin-bottom: 1em;
  }

  .entry-title input {
    font-size: 30px;
  }

  .status-bar {
    margin-bottom: 1em;
  }

</style>
<script src="<?=$home?>mod/stories/node_modules/jquery-sortable/source/js/jquery-sortable-min.js"></script>
<div class="entry">
  <div class="status-bar">
      Status: <span id="story-status"><?=$status?></span>
  </div>
  <div class="entry-form"></div>
  <?=$entryId,$MediumEditorPack,$EntryForm,$insert,$cssOverride?>
      <script>
        editor.setContent('<?=$content?>')
      </script>
      <hr />
</div>
