<style>
    .entry {
        margin: 0 4em;
        padding: 4px 8px;
    }

    .entry-title {
        margin-bottom: 1em;
    }

    .entry-title input {
        font-size: 30px;
    }

    .status-bar {
        margin-bottom: 1em;
    }

</style>
<script src="<?=$home?>mod/stories/node_modules/jquery-sortable/source/js/jquery-sortable-min.js"></script>
<script>const entry = <?=$entry?>; const tags = <?=$tags?>;</script>
<div class="entry">
    <div class="status-bar row">
        <div class="col-sm-2">
            <a href="./stories/Listing/" class="btn btn-sm btn-default"><i class="fa fa-list"></i>&nbsp;Back to list</a>
        </div>
        <div class="col-sm-4">
            <?=$publishBar?>
        </div>
        <div class="col-sm-6">
            <?=$tagBar?>
        </div>
    </div>
    <div><em>Status:</em> <span id="story-status"><?=$status?></span></div>
    <div class="entry-form"></div>
    <?=$MediumEditorPack,$EntryForm,$insert,$cssOverride?>
    <script>
        editor.setContent(entry.content)
    </script>
    <hr />
</div>
