<?=!empty($title) ? "<h2>$title</h2>" : null?>
<?=$style?>
<?php foreach ($list as $entry):?>
<div class="story-list-entry clearfix">
  <span class="label label-primary">
    <a href="./stories/Entry/<?=$entry['urlTitle']?>/"><i class="fa fa-link"></i>&nbsp;Permanent link</a>
  </span>
  <?php if ($isAdmin):?>
  <a class="pull-right btn btn-default btn-sm" href="./stories/Entry/<?=$entry['id']?>/edit">Edit</a>
  <?php endif;?>
  <div class="story-content">
    <?=$entry['content']?>
  </div>
  <?=$entry['publishInfo']?>
</div>
<?php endforeach; ?>
<?=$twitter?>
<?=$tooltip?>
