<?=!empty($title) ? "<h2>$title</h2>" : null?>
<?=$style?>
<?php foreach ($list as $entry):?>
<div class="story-list-entry clearfix">
  <div class="story-content">
    <?=$entry['content']?>
  </div>
  <?=$entry['publishInfo']?>
  <?=$entry['shareButtons']?>
  <span class="badge badge-info permanent-link mr-1">
    <a href="<?=$entry['currentUrl']?>"><i class="fa fa-link"></i>&nbsp;Permanent link</a>
  </span>
  <?php if ($isAdmin):?>
  <span class="badge badge-primary permanent-link">
    <a href="./stories/Entry/<?=$entry['id']?>/edit"><i class="fa fa-edit"></i>&nbsp;Edit</a>
  </span>
  <?php endif;?>
</div>
<?php endforeach; ?>
<?php if ($prevpage):?>
<a href="./stories/<?=$url?>/?page=<?=$prevpage?>" class="btn btn-primary">Previous stories</a>
<?php endif;?>
<?php if ($nextpage):?>
<a href="./stories/<?=$url?>/?page=<?=$nextpage?>" class="btn btn-primary">Read more stories</a>
<?php endif; ?>
<?=$twitter?>
<?=$tooltip,$Caption?>
