<div class="share-buttons">
  <span class="facebook-share">
    <a title="Share on Facebook" target="_blank" href="//www.facebook.com/sharer.php?u=<?=$currentUrl?>"><i class="fab fa-facebook fa-2x"></i></a>
  </span>
  <span class="twitter-share">
    <a title="Share on Twitter" target="_blank" href="http://twitter.com/intent/tweet?text=<?=$title,' ',$currentUrl?>"><i class="fab fa-twitter fa-2x"></i></a>
  </span>
  <span class="reddit-share">
    <a title="Share on Reddit" target="_blank" href="http://www.reddit.com/submit?url=<?=$currentUrl?>"><i class="fab fa-reddit fa-2x"></i></a>
  </span>
</div>