<div class="share-buttons">
  <span class="facebook-share">
    <a title="Share on Facebook" target="_blank" href="//www.facebook.com/sharer.php?u=<?=$currentUrl?>"><i class="fa fa-2x fa-facebook-official"></i></a>
  </span>
  <span class="twitter-share">
    <a title="Share on Twitter" target="_blank" href="http://twitter.com/intent/tweet?text=<?=$title,' ',$currentUrl?>"><i class="fa fa-2x fa-twitter-square"></i></a>
  </span>
  <span class="reddit-share">
    <a title="Share on Reddit" target="_blank" href="http://www.reddit.com/submit?url=<?=$currentUrl?>"><i class="fa fa-2x fa-reddit-square"></i></a>
  </span>
</div>