#EntryList .entry-status {
  background-color: #d2d2d2;
}

#EntryList .entry-row {
  border-bottom : 1px dotted #A9A9A9;
  padding : 1em 0;
}

.entry-row a.admin {
  color : #B9B9B9;
  padding : 4px;
  border : 1px solid #c1c1c1;
  border-radius : 4px;
  font-size : 14px;
}

.entry-row a.admin:hover {
  color : #000;
  text-decoration: none;
  border : 1px solid #000;
}

#EntryList .entry-row h3 {
  margin: 0px 0px 8px 0px;
  font-size: 22px;
  font-weight: bold;
}

#EntryList .entry-row.selected {
  background-color:#D4FECE;
  border : 1px solid #89F879;
}

.no-image {
  text-align : center;
  color : gray;
  position: relative;
}

.no-image>div {
  height : 200px;
}

ul.sortby {
  padding : 8px;
}

ul.sortby li {
  font-size : 14px;
  font-family : sans-serif;
}

.relative  {
  position : relative;
}

.popup {
  border : 1px solid #c9c9c9;
  border-radius : 6px;
  padding: 5px;
  width: 300px;
  height: 200px;
  background-color : white;
  position : absolute;
  z-index: 50;
  top : 30px;
  left : 30px;
}

ul.tag-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: inline;
}

ul.tag-list li {
  display: inline;
  margin-right: 10px;
  font-family: arial, Helvetica;
  padding: 3px;
  font-size : 16px;
}

.entry-image {
  max-height: 130px;
  overflow:hidden;
}

.story-data {
  font-size : 14px;
}
