#EntryList .entry-status {
  background-color: #d2d2d2;
}

#EntryList .entry-row {
  border-bottom : 1px dotted #A9A9A9;
  padding : 1em;
}

.entry-row a.admin {
  color : #B9B9B9;
  padding : 4px;
  border : 1px solid #c1c1c1;
  border-radius : 4px;
  font-size : 14px;
}

.entry-row a.admin:hover {
  color : #000;
  text-decoration: none;
  border : 1px solid #000;
}

#EntryList .entry-row h3 {
  margin: 0px 0px 8px 0px;
  font-size: 22px;
  font-weight: bold;
}

#EntryList .entry-row.selected {
  background-color:#D4FECE;
  border : 1px solid #89F879;
}

.no-image {
  text-align : center;
  color : gray;
  position: relative;
}

.no-image>div {
  height : 200px;
}

ul.sortby {
  padding : 8px;
}

ul.sortby li {
  font-size : 14px;
  font-family : sans-serif;
}

.relative  {
  position : relative;
}

.popup {
  border : 1px solid #c9c9c9;
  border-radius : 6px;
  padding: 5px;
  width: 300px;
  height: 200px;
  background-color : white;
  position : absolute;
  z-index: 50;
  top : 30px;
  left : 30px;
}

ul.tag-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: inline;
}

ul.tag-list li {
  display: inline;
  margin-right: 10px;
  font-family: arial, Helvetica;
  padding: 3px;
  font-size : 16px;
}

.entry-image {
  max-height: 130px;
  overflow:hidden;
}

.story-data {
  font-size : 14px;
}

.dropzone {
  border: 3px dotted #e3e3e3;
  width : 100%;
  height : 190px;
  padding : 20px;
  margin-bottom: 10px;
}

.update-label {
  font-size: 20px;
}

.pointer:hover {
  cursor: pointer;
}

#EntryList .entry-row.active {
  border : 2px solid #C1C1C1;
  border-radius : 6px;
}

.dropdown-menu>li>a.text-danger {
  color: #a94442;
}

.options {
  padding-top : 1em;
}

.entry-title h3 {
  display: inline;
}

.stories-navbar .navbar {
  background-color: #f8f8f8;
  margin-top : 55px;
  border-bottom : 3px solid #e3e3e3;
  border-top : 3px solid #e3e3e3;
}

.stories-navbar .navbar-default .navbar-toggle {
  background-color : black;
}

#EntryList {
}
