<div class="story-list-entry summary-view clearfix">
  <a href="<?=$url?>" target="_blank"><h3><?=$title?></h3></a>
  <?php
  $orient = '';
  $forceDimension = '';
  if (!empty($thumbnail)) :
  if ($imageOrientation == 1) {
  $orient = ' float-left mr-2 mb-2';
  $forceDimension = 'max-width : 250px;max-height: 300px;';
  } elseif ($imageOrientation == 2) {
  $orient = ' float-right ml-2 mb-2';
  $forceDimension = 'max-width : 250px;max-height: 300px';
  }
  ?>
  <div class="story-image<?=$orient?>"><a href="<?=$url?>"><img class="img-fluid mx-auto d-block" style="<?=$forceDimension?>" src="<?=$thumbnail?>" /></a></div>
  <?php endif;//thumbnail?>
  <div class="share-summary"><?=$summary?></div>
  <p class="clearfix">
    <a href="<?=$url?>">View story on <?=$siteName?> <i class="fas fa-external-link-alt"></i></a>
  </p>
  <?=$publishInfo?>
</div>